CompileFlags:                     # Tweak the parse settings
  # Add: [--include-directory=E:\software\gcc-arm-none-eabi-10.3-2021.10\arm-none-eabi\include]             # treat all files as C++, enable more warnings

  Add: [--include-directory=C:\ST\STM32CubeIDE_1.17.0\STM32CubeIDE\plugins\com.st.stm32cube.ide.mcu.externaltools.gnu-tools-for-stm32.12.3.rel1.win32_1.1.0.202410251130\tools\arm-none-eabi\include] 
  